
.icon-moon:before { content: '\e800'; } /* '' */
.icon-sky:before { content: '\e801'; } /* '' */
.icon-stars:before { content: '\e802'; } /* '' */
.icon-arrow:before { content: '\e804'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
